<?php if ( ! defined('BASEPATH')) exit('No direct script access allowed');

class Fb extends CI_Controller {

	public function __construct()
	{
		parent::__construct();
		
		/*** facebook init ***/
		require 'facebook-php-sdk/src/facebook.php';
		$this->facebook = new Facebook(array(
			'appId'  => '', // fill this
			'secret' => '', // fill this
		));
		// Get User ID
		$this->user = $this->facebook->getUser();
		$user = $this->user;
		if ($user) {
			try {
				// Proceed knowing you have a logged in user who's authenticated.
				$this->user_profile = $this->facebook->api('/me');
			} 
			catch (FacebookApiException $e) {
				error_log($e);
				$user = null;
			}
		}
		if ($user) {
			$this->logoutUrl = $this->facebook->getLogoutUrl();
		} 
		else {
			$this->loginUrl = $this->facebook->getLoginUrl();
		}
		
		/*** html page init ***/
		$title = ucwords(str_replace('_', ' ',$this->router->fetch_method()));
		$this->head['doctype'] = doctype('html5');
		$this->head['title'] = "UtangApp | " . $title;
		$this->head['css'] = array(
			"/static/css/style.css",
			"/static/css/validationEngine.jquery.css",
			"/static/jquery.mobile-1.1.1/jquery.mobile-1.1.1.min.css"
		);
		$this->head['js'] = array(
			"/static/js/jquery-1.7.2.min.js",
			"/static/js/jquery.validationEngine.js",
			"/static/js/jquery.validationEngine-en.js",
			"/static/js/underscore-min.js",
			"/static/js/backbone-min.js",
			"/static/js/script.js",
			"/static/jquery.mobile-1.1.1/jquery.mobile-1.1.1.min.js"
		);
	}
	
	public function index() 
	{
		$this->login();
	}
	
	public function login()
	{
		if($this->user) {
			/*** check database for the user ***/
			$email = $this->user_profile['id'] . '@facebook.com';
			$user = array(
				'first_name' => $this->user_profile['first_name'],
				'last_name' => $this->user_profile['last_name'],
				'email' => $email,
				'password' => '', // fill this
			);
			
			/*** create a new account if the user does not exist ***/
			if(!$this->utang_model->is_registered_user($email)) {
				$this->utang_model->fb_create_user($user);
			}
			
			/*** log in the user ***/
			$this->utang_model->fb_login($user);
			
			/*** redirect to homepage ***/
			redirect($this->config->item('base_url'), 'refresh');
		}
		else {
			/*** log in user to facebook ***/
			redirect($this->loginUrl);
		}
	}
	
	public function logout()
	{
		// clear cookies
		$this->facebook->destroySession();
		// logout user
		if($this->user) {
			redirect($this->logoutUrl);
		}
		else {
			redirect('auth/login', 'refresh');
		}
	}
}

/* End of file home.php */
/* Location: ./application/controllers/fb.php */
