input[type=text] {
	height: 41px !important;
	padding: 5px 8px !important;
	font-size: 18px !important;
}

textarea {
	height: 75px !important;
	padding: 5px 8px !important;
	font-size: 18px !important;
}


.centered {
	text-align: center;
	margin: auto;
}

.top_20 {
	margin-top: 20px;
}

.top_40 {
	margin-top: 40px;
}

.bottom_20 {
	margin-bottom: 20px;
}

.bottom_40 {
	margin-bottom: 40px;
}

.content_header {
	font-size: 14px;
	font-weight: normal;
	white-space: normal !important;
}

.content_header div {
	font-size: 16px;
	font-weight: bold;
	display: inline-block;
	margin: 10px 0px 32px 0px;
}

.content_header .amount_total {
	font-size: 18px;
	float: right;
	margin: 10px 0px;
}

.amount_owed {
	font-size: 14px;
	color: red;
}

.amount_owned {
	font-size: 14px;
	color: green;
}

.amount_input {
	text-align: right;
}

.amount_input input {
	width: 90% !important;
	display: inline !important;
}

.list_title {
	font-size: 16px;
	margin-bottom: 3px;
}

.list_amount {
	font-weight: normal !important;
	float: right;
	margin-top: -28px;
	margin-right: 5px;
}

.information {
	font-size: 14px;
	font-style: italic;
	font-weight: normal;
}

.details_label {
	margin-bottom: 5px;
}

.user_container {
	position: relative;
}

.image_container {
	position: absolute;
	top: 8px;
	right: 20px;
}

.profile_picture {
	width: 70px;
	padding: 5px;
}

.terms_policy li {
	padding: 5px;
}

#user_list {
	margin: 20px -15px !important;
}

#user_list a {
	text-decoration: none;
	color: #000000;
}

#ajax_loader {
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: 999;
}

#overlay_container {
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: 2000;
	width: 100%;
	height: 100%;
	display: none;
}

#overlay_background {
	background-color: #000000;
	opacity: 0.4;
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: 2005;
	width: 100%;
	height: 100%;
}

#overlay_window {
	background-color: #F9F9F9;
	position: relative;
	top: 20px;
	left: 0px;
	z-index: 2010;
	border-radius: 10px;
	box-shadow: 5px 10px 10px #000000;
	width: 250px;
	height: 250px;
	padding: 20px;
	margin: 50px auto;
}

#overlay_close_button {
	background-color: #ffffff;
	border: 3px solid #000000;
	color: #000000;
	font-size: 22px;
	font-weight: bold;
	position: absolute;
	top: 0px;
	right: 0px;
	z-index: 2015;
	border-radius: 20px;
	box-shadow: 5px 10px 10px #000000;
	margin-top: -10px;
	margin-right: -10px;
	cursor: pointer;
}

#overlay_ok_button {
	position: absolute;
	left: 75px;
	bottom: 20px;
	z-index: 2015;
	width: 150px;
}

/*** jquery mobile extensions ***/
.ui-btn-up-z{border:1px solid #787a7c;background:#c61517;font-weight:bold;color:#fff;text-shadow:0 1px 0 #000;background-image:-webkit-linear-gradient(#e18384,#c61517);background-image:-moz-linear-gradient(#e18384,#c61517);background-image:-ms-linear-gradient(#e18384,#c61517);background-image:-o-linear-gradient(#e18384,#c61517);background-image:linear-gradient(#e18384,#c61517)}
.ui-btn-up-z:visited,.ui-btn-up-z a.ui-link-inherit{color:#222}
.ui-btn-hover-z{border:1px solid #787a7c;background:#c61517;font-weight:bold;color:#fff;text-shadow:0 1px 0 #000;background-image:-webkit-linear-gradient(#e18e8f,#c62224);background-image:-moz-linear-gradient(#e18e8f,#c62224);background-image:-ms-linear-gradient(#e18e8f,#c62224);background-image:-o-linear-gradient(#e18e8f,#c62224);background-image:linear-gradient(#e18e8f,#c62224)}
.ui-btn-hover-z:visited,.ui-btn-hover-z:hover,.ui-btn-hover-z a.ui-link-inherit{color:#fff}
.ui-btn-down-z{border:1px solid #787a7c;background:#c61517;font-weight:bold;color:#fff;text-shadow:0 1px 0 #000;background-image:-webkit-linear-gradient(#e17576,#c60c0e);background-image:-moz-linear-gradient(#e17576,#c60c0e);background-image:-ms-linear-gradient(#e17576,#c60c0e);background-image:-o-linear-gradient(#e17576,#c60c0e);background-image:linear-gradient(#e17576,#c60c0e)}
.ui-btn-down-z:visited,.ui-btn-down-z:hover,.ui-btn-down-z a.ui-link-inherit{color:#fff}
.ui-btn-up-z,.ui-btn-hover-z,.ui-btn-down-z{font-family:Helvetica,Arial,sans-serif;text-decoration:none}
