input[type=text] {
	height: 41px !important;
	padding: 5px 8px !important;
	font-size: 18px !important;
}

textarea {
	height: 75px !important;
	padding: 5px 8px !important;
	font-size: 18px !important;
}


.centered {
	text-align: center;
	margin: auto;
}

.top_20 {
	margin-top: 20px;
}

.top_40 {
	margin-top: 40px;
}

.bottom_20 {
	margin-bottom: 20px;
}

.bottom_40 {
	margin-bottom: 40px;
}

.content_header div {
	font-size: 18px;
	display: inline-block;
	margin: 10px 0px 32px 0px;
}

.content_header .amount_total {
	font-weight: bold;
	float: right;
	margin: 10px 0px;
}

.amount_owed {
	color: red;
}

.amount_owned {
	color: green;
}

.amount_input {
	text-align: right;
}

.amount_input input {
	width: 90% !important;
	display: inline !important;
}

.list_title {
	font-size: 20px;
	margin-bottom: 8px;
}

.list_amount {
	font-weight: normal !important;
	float: right;
	margin-top: -36px;
	margin-right: 5px;
}

.information {
	font-style: italic;
	font-weight: normal;
}

.user_container {
	position: relative;
}

.image_container {
	position: absolute;
	top: 8px;
	right: 20px;
}

.profile_picture {
	width: 78px;
	padding: 5px;
}

.terms_policy li {
	padding: 5px;
}

.fb-like {
	font-size: 10px !important;
}

#user_list {
	margin: 20px -15px !important;
}

#user_list a {
	text-decoration: none;
	color: #000000;
}

#ajax_loader {
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: 999;
}

#overlay_container {
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: 2000;
	width: 100%;
	height: 100%;
	display: none;
}

#overlay_background {
	background-color: #000000;
	opacity: 0.4;
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: 2005;
	width: 100%;
	height: 100%;
}

#overlay_window {
	background-color: #F9F9F9;
	position: relative;
	top: 20px;
	left: 0px;
	z-index: 2010;
	border-radius: 10px;
	box-shadow: 5px 10px 10px #000000;
	width: 250px;
	height: 250px;
	padding: 20px;
	margin: 50px auto;
}

#overlay_close_button {
	background-color: #ffffff;
	border: 3px solid #000000;
	color: #000000;
	font-size: 22px;
	font-weight: bold;
	position: absolute;
	top: 0px;
	right: 0px;
	z-index: 2015;
	border-radius: 20px;
	box-shadow: 5px 10px 10px #000000;
	margin-top: -10px;
	margin-right: -10px;
	cursor: pointer;
}

#overlay_ok_button {
	position: absolute;
	left: 75px;
	bottom: 20px;
	z-index: 2015;
	width: 150px;
}
