input[type=text] {
	height: 41px !important;
	padding: 5px 8px !important;
	font-size: 18px !important;
}

textarea {
	height: 75px !important;
	padding: 5px 8px !important;
	font-size: 18px !important;
}

.top_20 {
	margin-top: 20px;
}

.top_40 {
	margin-top: 40px;
}

.bottom_20 {
	margin-bottom: 20px;
}

.bottom_40 {
	margin-bottom: 40px;
}

.content_header div {
	font-size: 18px;
	display: inline-block;
	margin: 10px 0px 32px 0px;
}

.content_header .amount_total {
	font-weight: bold;
	float: right;
	margin: 10px 0px;
}

.amount_owed {
	color: red;
}

.amount_owned {
	color: green;
}

.amount_input {
	text-align: right;
}

.amount_input input {
	width: 90% !important;
	display: inline !important;
}

.list_title {
	font-size: 20px;
	margin-bottom: 8px;
}

.list_amount {
	font-weight: normal !important;
	float: right;
	margin-top: -36px;
	margin-right: 5px;
}

.information {
	font-style: italic;
	font-weight: normal;
}

.user_container {
	position: relative;
}

.image_container {
	position: absolute;
	top: 8px;
	right: 20px;
}

#user_list {
	margin: 20px -15px !important;
}

#user_list a {
	text-decoration: none;
	color: #000000;
}

#ajax_loader {
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: 999;
}
