<?php if ( ! defined('BASEPATH')) exit('No direct script access allowed');

function facebookInit()
{
    /*** facebook init ***/
	require 'facebook-php-sdk/src/facebook.php';
	$facebook = new Facebook(array(
		'appId'  => '', // fill this in
		'secret' => '', // fill this in
	));
	
	return $facebook;
}

/* Location: application/helpers/facebook_helper.php */ 
